@charset "UTF-8";


.navigation {
	float:left;
	width:940px;
	height:37px;
	background-image:url(../images/navi_bg.gif);
	background-repeat:repeat-x;
}
ul.dropdown {
 font-size:13px;
 float:left;
}

	ul.dropdown li {
	 padding: 11px 15px 8px 15px;
	 background-color: transparent;
	 color: #000;
	}

	ul.dropdown li.last ul li {
	 float: right;
	}
	ul.dropdown li.hover a {
		color:#fff;
	}
	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-image:url(../images/navi_rol.gif);
	 background-repeat:repeat-x;
	 color:#FFF;
	}
	ul.dropdown li:hover a{
	 color:#FFF !important;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #fff; text-decoration: none; background-image:url(../images/navi_sep.gif);
	 background-repeat:no-repeat;
	 background-position:right; }
	ul.dropdown a:hover		{ color: #fff !important; }
	ul.dropdown a:active	{ color: #fff !important; }


	/* -- level mark -- */


		ul.dropdown  li {
		 background-image:url(../images/sep2.gif);
		 background-repeat:no-repeat;
		 background-position:right;
		}
		ul.dropdown ul li {
		 background-image:none;
		}
		ul.dropdown li a{
	font-family:"trebuchet MS";
	color:#666 !important;
	font-weight:bold;
	font-size: 14px;

		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 margin-top: 5px;
		 text-transform: none;
		}

			ul.dropdown ul- ul li {
			 font-weight: normal;
			}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */


ul.dropdown *.dir {

}

ul.dropdown ul *.dir {

}


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown li a {
	display: block;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}


/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
 padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

ul.dropdown li.dir:hover {

}

ul.dropdown ul li.dir {
 padding: 0px;
 border-right:#3b1214 solid 1px;
 width:160px;
}
ul.dropdown ul li.dir ul li a{
 background-image:none;
}
ul.dropdown ul li.dir ul{
 padding: 0px 5px;
}

/*-------------------------------------------------/
 * @section		Custom
 */
ul.dropdown h6{
 color:#fff;
 padding:5px 10px 0px 10px;
 background-color:#3b1214;
 height:19px;
}
ul.dropdown ul {

	letter-spacing: normal;
	float:left;
	background-image:url(../images/dropdown_bg.png);
	background-repeat:repeat-x;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}

ul.dropdown ul a {
font-size: 12px;
 width: 130px;
 padding: 3px 5px 3px 15px;
 font-style:normal;
 font-weight:normal;
 border-bottom:#bababa dotted 1px;
 background-image:url(../images/dropdown_arow2.gif) !important;
 background-position:left center !important;
 background-repeat:no-repeat;
}

ul.dropdown ul a:hover {
	background-color: #3b1214;
	color: #fff;
	font-size: 13px;
}

ul.dropdown ul ul {
 padding: 0;
 margin-left: 0px;
 background:none;
}
ul.dropdown ul li:hover {
 background:none;
}


ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 vertical-align: middle;

}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 1;
 margin-left:0px;
 z-index: 598;
 width: auto;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown-linear {
 width: 930px;
}

ul.dropdown-linear ul li {
 float: left;
}

ul.dropdown-linear li.hover,
ul.dropdown-linear li:hover {
 position: static;
}

ul.dropdown-linear ul ul {
 display: none !important;
}


ul.dropdown-columnar ul li {
 position: static;
 width: 150px;
}

ul.dropdown-columnar ul ul {
 display: block !important;
 position: static;
 width: auto !important;
}

ul.dropdown-columnar ul ul li {
 float: none;
}

ul.dropdown-columnar ul ul ul {
 display: none;
}

ul.dropdown-columnar li.hover ul,
ul.dropdown-columnar li:hover ul {
 visibility: visible !important;
}


.pad {
	padding:10px !important;
}