

.anythingSlider                         { width: 940px; height: 291px; position: relative; }
.anythingSlider .wrapper                { width: 940px; overflow: auto; height: 291px; position: absolute; top: 0; left: 0; }
.anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 291px; width: 940px; margin: 0; }






.rotating_banner .anythingSlider                         { width: 940px; height: 291px; position: relative; }
.rotating_banner .anythingSlider .wrapper                { width: 940px; overflow: auto; height: 291px; position: absolute; top: 0; left: 0; }
.rotating_banner .anythingSlider .wrapper ul             { width: 9999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.rotating_banner .anythingSlider ul li                   { display: block; float: left; padding: 0; height: 291px; width: 940px; margin: 0; }


